
## <summary>policy for kazucoin</summary>


########################################
## <summary>
##	Transition to kazucoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kazucoin_domtrans',`
	gen_require(`
		type kazucoin_t, kazucoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kazucoin_exec_t, kazucoin_t)
')


########################################
## <summary>
##	Execute kazucoin server in the kazucoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kazucoin_initrc_domtrans',`
	gen_require(`
		type kazucoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kazucoin_initrc_exec_t)
')


########################################
## <summary>
##	Search kazucoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kazucoin_search_lib',`
	gen_require(`
		type kazucoin_var_lib_t;
	')

	allow $1 kazucoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kazucoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kazucoin_read_lib_files',`
	gen_require(`
		type kazucoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kazucoin_var_lib_t, kazucoin_var_lib_t)
')

########################################
## <summary>
##	Manage kazucoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kazucoin_manage_lib_files',`
	gen_require(`
		type kazucoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kazucoin_var_lib_t, kazucoin_var_lib_t)
')

########################################
## <summary>
##	Manage kazucoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kazucoin_manage_lib_dirs',`
	gen_require(`
		type kazucoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kazucoin_var_lib_t, kazucoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a kazucoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kazucoin_admin',`
	gen_require(`
		type kazucoin_t;
		type kazucoin_initrc_exec_t;
		type kazucoin_var_lib_t;
	')

	allow $1 kazucoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, kazucoin_t)

	kazucoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kazucoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kazucoin_var_lib_t)

')

